@import url(https://fonts.googleapis.com/css?family=Montserrat);
html {
	margin: 0px;
	height: 100%;
	width: 100%;
 }
 
 body {
	margin: 0px;
	min-height: 100%;
	width: 100%;
	overflow: hidden;
 }
body {
	/* font-family: montserrat, arial, verdana; */
	background: linear-gradient(#780206,#061161);
}
#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: center;
	padding-top: 10%;

}
#msform div {
	background: linear-gradient(#83a4d4,#b6fbff);
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	position: relative;
	border-radius: 30px;
}
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform .inp, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
::selection{
	text-decoration: none;
	-moz-user-select: none; 
	  color: none;
	  background: none;
  }
.nextt  , .nextt:focus{
	height: 4rem;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
	outline: none;

}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

